<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />		
    </startup>
	<appSettings>
		<add key="RedisHost" value="138.68.228.85"/>
		<add key="RedisPort" value="6379"/>
		<add key="RedisPassword" value="853a60b8702RU887"/>
	</appSettings>
</configuration>